*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_titulo{
    text-align: center;
}

.contenedor_menu{
    margin-top: 0.3rem;
}