

.libros_contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
.div_contenedor_libros{
    margin: 0.5rem;
    border: 5px solid black;
}