.galeria__planes {
    display: grid; 
    grid-template-rows:  1fr 1fr;
    grid-template-columns: 1fr;
    gap: 0px;
    height: 100%;
    width: 100%;
 }

 @media  screen and (min-width: 600px){
    .galeria__planes{
        display: grid; 
     
        grid-template-rows:  1fr;
        grid-template-columns: 1fr 1fr;
        
        gap: 0px;
        height: 100%;
    }
    
    .galeria__planes-contenedor-2{
        background-color: #B7CD65; 
        grid-row-start: 1;
        grid-column-start: 1;
     
        grid-row-end: 2;
        grid-column-end: 2;
    }
    
    .galeria__planes-contenedor-1{
        grid-row-start: 1;
        grid-column-start: 2;
     
        grid-row-end: 2;
        grid-column-end: 3;
    }

 }