


.input-chico{
    width: 100%;
}
.contenedor_libros{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
} 

.div_contenedor_libros{
    width: 18rem;
    border-radius: 10px;
    /* margin-left: 0 1rem; */
}

.div_contenedor_libros img {
    width: 80%;
}

.div_contenedor_libros h2,p{
    margin: 1rem;
}

.container{
    display: flex;
    justify-content: center;
}
.container_input {
    margin-right: 15px;
}

.container_btn {
    margin-left: 10px;
}


@media screen and (min-width: 768px) {
    .contenedor_libros{
        flex-direction: row;
        flex-wrap: wrap;
    } 
}